.category-image{
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.container{
    display:flex;
    justify-content:center ;
    text-align:left;
}

#page-title{
    text-align:center;
    margin: right 20%;
    margin: left 20%;
    background-color: #1abcd1;
    border: 2px solid white;
    border-radius: 20px;
}

.card{
    width: 200px;
    margin-right:10px;
    margin-left:10px;
    margin-bottom:20px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.card:hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
body{
    font-family: 'ubuntu', sans-serif;
    background-color: #0077b6;
    color: white;
    margin-right: 10%;
}

a:link{
    color:white;
    text-decoration: none;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:hover{
    color: #e5e5e5;
}

button{
    width:fit-content;
    height:20px;
    background-color: #40ff00;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.3s;
    padding: 0px, 10px;
}

button:hover {
    background-color: white;
    color: #0077b6;
    transition: 0.3s;
}
#btn-intro{
    content: "show";
}
#div-intro{
    display: none;
}